.card{
    width: 200px;
    height: 400px;
    background-color: grey;
}
.gbr{
    width: 100%;
    height:200px; 
    background-color: white;
}
.info-brg{
    width: 100%;
    
    background-color: red;
}
.ket-brg{
    width: 100%;
    height: 100px;
    background-color: white;
}
.ket-harga{
    width: 100%;
    height: 50px;
    background-color: darkblue;
}
img{
    width: 100%;
    height: 200px;
}
p{
    color: white;
    text-align: right;
    font-size: 14pt;
}
.deskrip{
    color: black;
    text-align: left;
}